*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(149, 173, 217);
}
.container{
   max-width: 500px;
   width: 100%;
   border: 2px solid black;
background-image: url(back.jpg);
background-size: cover;
border-radius: 20px;
box-shadow: 1px 2px 5px rgb(64, 58, 58);

}
header,.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}
header .chip{
    margin-right: 10px;
}
.logo h5{
    color: white;
    padding: 20px;
    font-size: 20px;
}
.details .counts{
    color: white;
}

.details .valid{
    color: white;
}
.container .details{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    align-items: flex-end;

}

.details .counts{
    margin: 10px;

}
.counts .Number{
    padding-top: 5px;
    letter-spacing: 1.5px;
}
.counts .prem{
    padding-top: 15px;

}
.details .valid{
   
   
    
}